<% var args = page.posts.sort("date", "desc").limit(config.per_page || 3) %>

<div class="pure-g gutters">
	<div class="pure-u-1 pure-u-lg-2-3">
		<div class="container">
			<section id="index"> 
				<% args.each(function(post){ %>
					<div class="post bottom-40">
						<h2 class="post-title"><a href="<%= url_for(post.path) %>"><%= post.title%></a></h2>
						<p class="light large"><%= post.description %></p>
						<p><img class="img-responsive" height="400" width="600" src="/images/<%if(post.image != null){%><%= post.image %><%} else{%>bg-logo.svg<% } %>" alt="<%= post.title%>" /></p>
						<div><a class="pure-button pure-button-black uppercase light" href="<%= url_for(post.path) %>"><%= __("read_more")%></a></div>
					</div>
				<% }); %>
				<%-partial("partials/pagination")%>
			</section>
			<%-partial("partials/banners", {location: "bottom"})%>
		</div>
	</div>
	<div class="pure-u-1 pure-u-lg-1-3">
		<%-partial("partials/banners", {location: "right"})%>
	</div>
</div>
