<% var args = page.posts.sort("date", "desc").limit(config.per_page || 10) %>


<div class="pure-g gutters">
	<div class="pure-u-1 pure-u-lg-2-3">
		<div class="container">
			<section id="index"> 
				<h4 class="light bottom-40 text-muted padding-0 uppercase light text-center"><%= theme.hero.blog.title%></h4>
				<% args.each(function(post){ %>
					<div class="post bottom-40">
						<% if(is_home()){%>
							<div class="pure-g gutters">
								<div class="pure-u-1 pure-u-sm-1-3">
									<a href="<%= url_for(post.path) %>"><img class="img-responsive" height="300" width="200" src="/images/<%if(post.thumbnail != null){%><%= post.thumbnail %><%} else{%>bg-logo.svg<% } %>" alt="<%= post.title%>" /></a>
								</div>
								<div class="pure-u-1 pure-u-sm-2-3">
									<h3 class="post-title"><a href="<%= url_for(post.path) %>"><%= post.title%></a></h3>
								</div>
							</div>
						<% } %>				

							
						<% if(!is_home()){%>
						
							<h2 class="post-title"><a href="<%= url_for(post.path) %>"><%= post.title%></a></h2>
							
							<p><a href="<%= url_for(post.path) %>"><img class="img-responsive" height="400" width="600" src="/images/<%if(post.image != null){%><%= post.image %><%} else{%>bg-logo.svg<% } %>" alt="<%= post.title%>" /></a></p>
				
							<% if(post.hasOwnProperty("description")) { if(post.description != null){ %>
								<p><%= post.description %></p>
							<% }} %>
							<div><a class="pure-button pure-button-black" href="<%= url_for(post.path) %>"><%= __("read_more")%></a></div>
						<% } %>
					</div>	
				<% }); %>
			</section>
			<%-partial("partials/banners", {location: "bottom"})%>
		</div>
	</div>
	<div class="pure-u-1 pure-u-lg-1-3">
		<%-partial("partials/banners", {location: "right"})%>
	</div>
</div>