
<div class="container-fluid">
	<div class="page">
		<h1><%=page.title%></h1>
			
		<%if(page.description){%>
			<p class="light large"><%-page.description%></p>
		<%}%>			
			
		<%-partial("partials/slides")%>
		<%-page.content%>
		  
	</div>
</div>

<%-partial("partials/pagination")%>
